@inherits LayoutComponentBase

  <div class="container-fluid" style="background-color:azure;">

    <div class="main">

      <div class="content px-4">
        @Body
      </div>
    </div>

  </div>
