<br />
<h3>UserList</h3>

@foreach (var user in _allUsers)
{
  <UserEntry UserData="@user"></UserEntry>
}

@code {

  [Inject]
  private Users _usersService { get; set; }

  private List<UserModel> _allUsers => _usersService.FetchAll();

}
